*.ammdb
*.asm.*
*.cdb
*.cdf
*.cmp.*
*.cnf.*
*.cr.mti
*.dat
*.ddb
*.hdb
*.hsd
*.ipinfo
*.jar
*.jdi
*.kpt
*.log
*.map.*
*.mf
*.mpf
*.pin
*.qmsg
*.qpf
*.qsf
*.qsf.bak
*.qws
*.qws.bak
*.rdb
*.rpt
*.sci
*.smsg
*.sof
*.summary
*.tdb
*.tdb*.sof
*.tree
*.wlf
*.xml
*_info
/BattleCode2014/.metadata/
bin/
build/
db/
dist/
nbproject/
work/
