body{
	background-color: #FFFFFF;
	font-family: sans-serif;
}

#wrapper{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

#header ul{
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
	list-style-type:none;
}

#header li{
	display: inline;
	margin-bottom: 25px;
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 30px;
	padding-left: 30px; 
	font-size: 25px;
	text-transform: uppercase;
	border-bottom: solid;
	
}

#content{
float: bottom;
}



img#logo{
width:200px;
height:auto;

}

img#bigPicture{
width:800px;
height:auto;
}

h1{
font-size: 39px;
margin-top: 40px;
}

.clear-fix{
clear:both;
}

/* 	a:hover must come after a:link and a:visited.
	a:active must come after a:hover.*/
a:link{
}

a:visited{
}

a:hover{
}

a:active{
}
